 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/intro_world_map.webp");
}

.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 270px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  width: 632px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 181px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 5rem;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 311px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 1px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4rem;
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 212px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 886px;
}

.u-section-2 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 8px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 467px;
  --gap: 20px;
}

.u-section-2 .u-list-item-1 {
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 21px 0 0;
}

.u-section-2 .u-list-item-2 {
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 21px 0 0;
}

.u-section-2 .u-list-item-3 {
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-8 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 472px;
    grid-gap: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.999975px);
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1121px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 259px;
}

.u-section-3 .u-image-1 {
  width: 905px;
  object-position: 58.92% 50%;
  height: 257px;
  margin: 1px auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 96px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 183px;
}

.u-section-4 .u-text-1 {
  margin: 14px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 16px 0 14px;
} .u-section-5 {
  background-image: none;
  min-height: 724px;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  margin: 64px auto 49px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
  min-height: 545px;
  --gap: 21px;
  grid-auto-columns: calc(33.3333% - 14px);
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 60px 30px 30px;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 60px 30px 30px;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 60px 30px 30px;
}

.u-section-5 .u-text-5 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  margin: 0;
}

.u-section-5 .u-text-6 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-4 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 60px 30px 30px;
}

.u-section-5 .u-text-7 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  margin: 0;
}

.u-section-5 .u-text-8 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-5 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 60px 30px 30px;
}

.u-section-5 .u-text-9 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  margin: 0;
}

.u-section-5 .u-text-10 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-6 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 60px 30px 30px;
}

.u-section-5 .u-text-11 {
  text-transform: none;
  font-size: 1.27778rem;
  font-style: normal;
  margin: 0;
}

.u-section-5 .u-text-12 {
  font-size: 0.888889rem;
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 449px;
    grid-gap: 21px;
    grid-auto-columns: calc(33.333333333333336% - 14px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 50px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 50px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 50px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 50px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 774px;
    grid-auto-columns: calc(50% - 10.5px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2177px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-top: 467px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 228px;
}

.u-section-6 .u-image-1 {
  width: 913px;
  height: 263px;
  object-position: 50% 39.93%;
  margin: 0 auto -35px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-6 .u-image-1 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-6 .u-image-1 {
    height: 207px;
    margin-top: 67px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-6 .u-image-1 {
    height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 111px;
  }

  .u-section-6 .u-image-1 {
    height: 112px;
    margin-top: 0;
    margin-bottom: -35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 513px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 20px -14px 0 14px;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-7 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 49px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 303px;
  --gap: 0px;
  grid-auto-columns: 50%;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  margin: 0;
}

.u-section-7 .u-text-4 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-5 {
  margin: 0;
}

.u-section-7 .u-text-6 {
  line-height: 2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-gap: 0px;
    min-height: 250px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 896px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 20px -14px 0 14px;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 29px 0 0;
}

.u-section-8 .u-list-1 {
  margin-top: 28px;
  margin-bottom: 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 649px;
  --gap: 0px;
  grid-auto-columns: 50%;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-8 .u-text-3 {
  margin: 0 0 0 13px;
}

.u-section-8 .u-text-4 {
  line-height: 2;
  margin: 49px 7px 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-8 .u-text-5 {
  margin: 0 0 0 13px;
}

.u-section-8 .u-text-6 {
  line-height: 2;
  margin: 49px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-repeater-1 {
    grid-gap: 0px;
    min-height: 535px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 450px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 1px auto 0;
}

.u-section-9 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-9 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  height: auto;
  width: 1007px;
  margin: 20px auto 1px;
}

.u-section-9 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  --gap: 10px;
  min-height: 328px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  width: 235px;
  height: 99px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  width: 235px;
  height: 99px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-image-3 {
  width: 235px;
  height: 99px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-image-4 {
  width: 235px;
  height: 99px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-image-5 {
  width: 235px;
  height: 99px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px;
}

.u-section-9 .u-image-6 {
  width: 235px;
  height: 99px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-9 .u-list-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-list-1 {
    width: 720px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-list-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    width: 220px;
    height: 84px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    width: 220px;
    height: 84px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-3 {
    width: 220px;
    height: 84px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-4 {
    width: 220px;
    height: 84px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-5 {
    width: 220px;
    height: 84px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-6 {
    width: 220px;
    height: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-list-1 {
    width: 340px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }
}.u-section-10 .u-sheet-1 {
  min-height: 206px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-10 .u-text-2 {
  width: 771px;
  margin: 7px auto 0;
}

.u-section-10 .u-text-3 {
  width: 636px;
  margin: 2px auto 0;
}

.u-section-10 .u-text-4 {
  width: 636px;
  margin: 0 auto 29px;
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-10 .u-text-2 {
    width: 720px;
    margin-top: 9px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 42px;
    margin-right: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-top: -8px;
  }

  .u-section-10 .u-text-2 {
    width: 540px;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-10 .u-text-4 {
    width: 540px;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-top: -6px;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
    margin-top: 35px;
  }

  .u-section-10 .u-text-3 {
    width: 340px;
  }

  .u-section-10 .u-text-4 {
    width: 340px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}